//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9 (64-bit)
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Sat 08 03 18:56:08 2024

IO_LOC "RC" L16;
IO_PORT "RC" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "RB" L14;
IO_PORT "RB" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "RA" N14;
IO_PORT "RA" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LA" N16;
IO_PORT "LA" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LB" A13;
IO_PORT "LB" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LC" C13;
IO_PORT "LC" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "clr" A2;
IO_PORT "clr" PULL_MODE=DOWN BANK_VCCIO=1.8;
IO_LOC "clk" H11;
IO_PORT "clk" PULL_MODE=NONE BANK_VCCIO=1.8;
IO_LOC "H" T5;
IO_PORT "H" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "R" E8;
IO_PORT "R" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "L" E9;
IO_PORT "L" PULL_MODE=UP BANK_VCCIO=1.8;
